<!DOCTYPE html>
<html>
  <head>
    <title>Resume</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Archivo:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300" rel="stylesheet">
    <%= render "/layouts/bootstrap" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="background">

    <%= render "/layouts/banner" %>
    <br>
    <%= render "/layouts/navbar" %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <br>
    <%= render "/layouts/footer" %>

  </body>
</html>
